.fade-in-enter {
    opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-in-appear {
    opacity: 1;
}

.fade-in-appear.fade-in-appear-active {
opacity: 0;
transition: opacity .5s ease-in;
}

.fade-in-leave {
    opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}




/* .slide-up-enter{
    transform: translate(0px, 0px);
}
.slide-up-enter.slide-up-enter-active {
    transform: translate(0px, 100vh);
    transition: all 1s ease-out;
}

.slide-up-leave {
    transform: translate(0px, 100vh);
}

.slide-up-leave.slide-up-leave-active {
    transform: translate(0px, 0px);
    transition:  all 1s ease-out;
}

.slide-up-appear {
    transform: translate(0px, 100vh);

}

.slide-up-appear.slide-up-appear-active {
    transform: translate(0px, 0px);
    transition: all 1s ease-out;
} */